.form {

    &-control {
        width: 100%;
        display: flex;
        margin-bottom: 15px;
        flex-direction: column;
        gap: 8px;

        label {
            font-size: 13px;
        }

        input[type="date"]::-webkit-datetime-edit {
            color: var(--color-text);
        }
    }
}