.light-theme {
    --color-background-dark: #eaf4fc;
    --color-background: #cde6f7;
    --color-primary: #8ab4e3;
    --color-secondary: #acc9de;
    --color-accent: #e1eff7;
    --color-text: #000;
}